//- 首页
extends ./layouts/default

block title 
  title Pet Smile title

block content
  .container
    .div 这里是content内容
    .name #{name}
    .desp #{desp}
  style.
    .container {
      background: #fff;
    }
      